.cocktail-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.cocktail-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cocktail-details {
  text-align: center;
}

.cocktail-details h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333333;
}

.cocktail-details ul {
  list-style-type: none;
  padding: 0;
}

.cocktail-details li {
  margin-bottom: 5px;
  color: #666666;
}

.favorites-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
}

.favorites-button:hover {
  background-color: #0056b3;
}

.favorites-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
