.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff8e1; /* Light yellow background for register */
}
  
.register-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative; /* Ensure relative positioning */
    z-index: 0; /* Set z-index to 0 */
}
  
.register-card h1 {
    margin-bottom: 20px;
    color: #ffa500; /* Orange title for register */
}
  
.register-card label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
  
.register-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  
.register-card .react-datepicker-wrapper {
    width: 100%;
}
  
.register-card .react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1;   
}
  
.react-datepicker__tab-loop,
  .react-datepicker {
    z-index: 2; 
  }
  
  .react-datepicker-popper {
    z-index: 3; 
}